@import 'variables';

input.button {
  font-size: 1.125 rem;
}

.button__cta {
  background-color: $color-beige;
  border-radius: 0.5rem;
  font-family: Mont-Black;
  font-size: 1.5rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
}
