$color-aqua: #00A2C7;
$color-beige: #F4F2EE;
$color-black: #080A09;
$color-blue: #004093;
$color-green: #00A862;
$color-orange: #F76200;
$color-red: #CA0005;
$color-yellow: #EFBD00;
$color-white: #FFFFFF;