@import 'variables';

html {
  color: $color-black;
  font-size: 10px;
}

body { 
  font-size: 1.6em;
  background-color: $color-beige;
 }

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.h1 { font-size: 4.8em; }

.image-profile {
  border-radius: 37em 19em 21em 39em / 23em 31em 29em 37em;
  height: 18em;
  object-fit: cover;
  width: 18em;
  animation: blob 7s ease-in-out alternate infinite;
}

@keyframes blob {
  20%   { border-radius: 43em 19em 21em 39em / 23em 31em 29em 37em; }
  60%   { border-radius: 37em 19em 41em 45em / 33em 51em 35em 37em; }
  100%  { border-radius: 37em 39em 31em 39em / 33em 31em 39em 37em; }
}