@import 'buttons';
@import 'mixins';
@import 'variables';

$blob-colors: $color-aqua, $color-red, $color-blue, $color-green, $color-yellow, $color-orange, $color-black;

html {
  color: $color-black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body { 
  font-size: 1.25rem;
  background-color: $color-white;
  margin: 0;
}

a {
  color: $color-black;
  text-decoration: underline;
  text-decoration-color: $color-green;
  transition: all 200ms ease-in-out;
  
  &:hover {
    background: $link-background-color;
    text-decoration: none;
  }
}

.blobs {
  margin: 5em 0 1em;
  position: relative;
}
  
@for $i from 1 through length($blob-colors) {
  .blob:nth-child(#{length($blob-colors)}n+#{$i}) {
    background-color: lighten(nth($blob-colors, $i), 0%);
    transform: rotate(15deg * ($i * 7));
    animation-delay: -($i * 10)+s;
  } 
}

.blob {
  border-radius: 37em 19em 21em 39em / 23em 31em 29em 37em;
  height: 100%;
  left: -1em;
  padding: 1em;
  position: absolute;
  animation: blob 7s ease-in-out alternate infinite;
  top: -1em;
  width: 100%; 
  z-index: -100;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  padding: 0;
  height: 100%;
  width: 100vw;
}

.h1 { 
  font-family: "Mont-Black";
  font-size: calc(2em + 9vw);
  letter-spacing: -.025em; 
  margin-bottom: 0;
  text-align: center;
  
  @include for-desktop-up {
    letter-spacing: 0;
    font-size: calc(((1em + 9vw)*2)/4);
  }
  
  &__svg {
    background-image:image-url("type-blobs.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
  }
}

.h2 {
  font-family: 'DM Serif Text', serif;
  font-weight: normal;
  font-size: calc(1em + 2.65vw);
  margin-top: 0;
  text-align: center;
  
  @include for-desktop-up {
    font-size: calc(((1em + 2.65vw)*2)/4);
  }
}

.header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.image-profile {
  animation: blob 7s ease-in-out alternate infinite;
  border-radius: 37em 19em 21em 39em / 23em 31em 29em 37em;
  height: calc((50vw + 50vh)/4);
  object-fit: cover;
  width: calc((50vw + 50vh)/4);
}

.legible-measure {
  @include legible-width;
}

.post-title {
  @include card;
}

.trix-content {
  @include legible-width;
  border: 0;
  margin: 0 auto;
}

.trix-button-row {
  @include card;
  
  .trix-button {
    background: $color-white;
  }
  
  .trix-button-group {
    margin-bottom: 0;
  }
}

@keyframes blob {
  20%   { border-radius: 43em 19em 21em 39em / 23em 31em 29em 37em; }
  60%   { border-radius: 37em 19em 41em 45em / 33em 51em 35em 37em; }
  100%  { border-radius: 37em 39em 31em 39em / 33em 31em 39em 37em; }
}
